.noticiaConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 60vh;
}

.noticiaConteiner h1 {
  font-size: 2rem;
  font-family: var(--font-titulos);
  color: var(--corSecundaria);
}

.noticias {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.capaNoticia {
  display: flex;
  gap: 10px;
  padding: 20px 10px;
}

.capaNoticia div:first-child {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.capaNoticia div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.capaNoticia h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--corSecundaria);
  margin-top: 20px;
}

.capaNoticia h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.capaNoticia div:last-child button {
  width: max-content;
  padding: 10px 30px;
  font-weight: 400;
  transition: all .2s ease;
}

.capaNoticia div:last-child button:hover {
  text-decoration: underline;
  background-color: var(--corPrimaria);
  color: var(--corSecundaria);
}

@media (max-width: 1100px) {
  .capaNoticia {
    flex-direction: column;
    align-items: center;
  }

  .capaNoticia h3 {
    text-align: center;
    margin: 10px 0px 0px 0px;
  }

  .capaNoticia div:first-child {

  }

  .capaNoticia div:last-child{
    align-items: center;
  }
}