.cardsConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: none;
  padding: 2rem;
  gap: 50px;
}

.cardsConteiner .card {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.041);
  padding: 5px;
  border-radius: 10px;
}

.cardsConteiner .card img {
  width: 100%;
  border-radius: 10px;
}

.informacoes {
  display: flex;
  gap: 20px;
}

.informacoes img {
  max-width: 500px;
  border-radius: 5px;
}

.conteudoCard {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  color: var(--texto);
}

.conteudoCard h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--corSecundaria);
}

.conteudoCard p {
  line-height: 1.5;
  font-size: 1.9rem;
}

.conteudoCard a {
  font-size: 1rem;
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--corSecundaria);
  width: fit-content;
  color: var(--corPrimaria);
  border-radius: 5px;
  margin-top: 30px;
  transition: all 0.2s ease;
}

.conteudoCard a:hover {
  background-color: var(--corPrimaria);
  color: var(--corSecundaria);
  text-decoration: underline;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
  gap: 20px;
}

.cards li {
  padding: 30px 10px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.068);
  border-radius: 5px;
  border-top: 4px solid var(--corSecundaria);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.048);
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
}

.cards li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.096);
}

.cards li:hover h3 {
  color: var(--corSecundaria);
}

.cards li h3 {
  font-size: 1.25rem;
  display: flex;
  line-height: 1.2;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease;
}

.cards li h3 svg {
  font-size: 3rem;
}

.cards li p {
  font-size: 0.9rem;
  color: var(--texto);
  margin-left: 30px;
  margin-top: 5px;
  position: relative;
}

.cards li p:nth-child(2) {
  margin-top: 20px;
}

.cards li p::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: var(--texto);
  top: 7px;
  left: -20px;
  border-radius: 50%;
}
