.sobreConteier {
  display: flex;
  flex-direction: column;
  max-width: none;
  width: 100%;
  align-items: center;
  padding: 2rem;
}

.sobreConteier .tituloSobre {
  font-family: var(--font-titulos);
  font-weight: 700;
  color: var(--corSecundaria);
  font-size: 2rem;
  margin-bottom: 20px;
}

.conteudoSobre {
  display: flex;
  align-items: center;
  gap: 40px;
}

.textoSobre p {
  max-width: 700px;
}

.icones {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icones img {
  width: 100px;
}

.icones img:nth-child(1) {
  width: 60px;
}

.icones img:nth-child(3) {
  width: 120px;
}

.icones img:nth-child(4) {
  width: 150px;
}

.textoSobre {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.textoSobre button {
  width: fit-content;
  font-weight: 400;
  
}

.conteudoSobre img {
  max-width: 350px;
}
