.sobreConteier {
  display: flex;
  flex-direction: column;
  max-width: none;
  width: 100%;
  align-items: center;
  padding: 2rem;
}

.sobreConteier .tituloSobre {
  font-family: var(--font-titulos);
  font-weight: 700;
  color: var(--corSecundaria);
  font-size: 2rem;
  margin-bottom: 20px;
}

.sobreConteier button {
  background-color: var(--corSecundaria);
  color: var(--corPrimaria);
  padding: 0.6rem;
  font-size: 1.3rem;
  margin-left: 240px;
  cursor: pointer;
}

.conteudoSobre {
  display: flex;
  align-items: center;
  gap: 40px;
}

.textoSobre p {
  max-width: 700px;
}

.icones {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.icones img {
  width: 100px;
}

.icones img:nth-child(1) {
  width: 60px;
}

.icones img:nth-child(3) {
  width: 120px;
}

.icones img:nth-child(4) {
  width: 150px;
}

.textoSobre {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.textoSobre button {
  width: fit-content;
  font-weight: 400;
  font-family: var(--font-titulos);
  transition: all 0.2s ease;
}

.textoSobre button:hover {
  background-color: var(--corPrimaria);
  text-decoration: underline;
  color: var(--corSecundaria);
}

.conteudoSobre img {
  max-width: 350px;
}

.fotoSobre {
  background-color: var(--corSecundaria);
  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin-bottom: 150px;
  margin-right: 40px;
}

@media (max-width: 1100px) {
  .conteudoSobre {
    flex-direction: column;
    gap: 20px;
  }

  .conteudoSobre img {
    margin: 0px;
    margin-bottom: 30px;
  }

  .conteudoSobre .textoSobre {
    align-items: center;
  }

  .conteudoSobre .textoSobre p {
    text-align: center;
    font-size: 0.9rem;
  }

  .icones {
    justify-content: center;
  }
}
