@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --fundo: #FFFF;
  --texto: #000;
  --corPrimaria: #FCA311;
  --corSecundaria: #14213D;
  --cinza: #E5E5E5;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Inria Serif", serif;
}
